<header class="w-full absolute">
  <h3 class="text-white uppercase py-6 pl-6">Jord.</h3>
</header>

<section class="banner">
  <div class="container">
    <h1 class="banner__title">
      I build<br>
      websites
    </h1>
  </div>
</section>

<section class="flex h-screen w-full">
  <div class="w-1/2 bg-white h-screen text-center items-center justify-center flex flex-column">
    <h2 class="uppercase black__title">I can use</h2>
  </div>
  <div class="w-1/2 bg-primary h-screen text-center items-center justify-center flex flex-column">
    <ul>
      <li class="text-white text-5xl mb-4 uppercase">Ruby on Rails</li>
      <li class="text-white text-5xl mb-4 uppercase">HTML/HAML/ERB</li>
      <li class="text-white text-5xl mb-4 uppercase">Sass/css</li>
      <li class="text-white text-5xl mb-4 uppercase">Tailwind</li>
      <li class="text-white text-5xl mb-4 uppercase">Javascript</li>
    </ul>
  </div>
</section>

<section class="flex h-screen w-full">
  <div class="w-1/2 bg-black h-screen text-center items-center justify-center flex flex-column">
    <ul>
      <li class="spacey text-white text-5xl mb-4 uppercase">
        <a href="mailto:jordi@halesdesignco.com">e-mail</a>
      </li>
      <li class="spacey text-white text-5xl mb-4 uppercase">
        <%= link_to 'Twitter', 'https://www.twitter.com/consolelogjordi' %>
      </li>
      <li class="spacey text-white text-5xl mb-4 uppercase">
        <%= link_to 'Github', 'https://www.github.com/jordihales' %>
      </li>
      <li class="spacey text-white text-5xl mb-4 uppercase">
        <%= link_to 'Codepen', 'https://www.codepen.io/jordihales' %>
      </li>
    </ul>
  </div>
  <div class="w-1/2 bg-white h-screen text-center items-center justify-center flex flex-column">
    <h2 class="uppercase text-primary pink__title">Find Me</h2>
  </div>
</section>

<footer class="bg-black w-full flex items-center justify-center py-6 absolute">
  <h3 class="text-sm text-white uppercase">&copy Jord Hales - 2020</h3>
</footer>
